.outer-ctn{
    display: flex;
    height: 735px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-ctn{
    width: 30%;
    height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border: 1px solid #7777;
    border-radius: 10px;
}
.login-title{
    text-align: center;
}
.login-title h3{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
.login-title h2{
    font-size: 26px;
    font-weight: 500;
    color: orange;
}
.login-title p{
    margin-top: 5px;
}
.email{
    width: 80%;
}
.login-password{
    width: 100%;
}
.ln-pass-ctn{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.btn-ctn{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-bodyfooter{
    width: 30%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
  }
  @media screen and (max-width:550px ){
    .main-ctn{
        width: 85%;
        padding: 0px;
    }
    .name-ctn{
        flex-direction: column;
    }
    .first-name{
        width: 100%;
    }
    .last-name{
        width: 100%;
    }
  }